.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 75px;
    background-color: navajowhite;
    color: black;
    position: fixed;
    top:0;

}
.navbar_links{
    display: flex;
}
.navbar_link{
    padding:0 0.3rem ;
    color: inherit;
}
@media screen and(max-width: 767px) {
    .navbar_links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        visibility: hidden;
        background-color: black;
    }
}



