.rea {
    border-bottom: 2px solid black;
    font-size: 30px;
    padding-bottom: 1rem;
    padding-top: 5rem;
}

.projet {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 30px;
    align-items: center;
}
.projet1 {
    width: 450px;
    height: 600px;
    border: solid;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px antiquewhite;
    align-items: center;
    font-size: 35px;
}
.projet1>p{
    padding-right: 2rem;
    padding-left: 2rem;
}

.projet2 {
    width: 450px;
    height: 600px;
    border: solid;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px antiquewhite;
    font-size: 35px;
}
.projet2>p{
    padding-right: 2rem;
    padding-left: 2rem;
}
.projet3 {
    width: 450px;
    height: 600px;
    border: solid;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px antiquewhite;
    font-size: 35px;
}
.projet3>p{
    padding-right: 2rem;
    padding-left: 2rem;
}

.projet4 {
    width: 450px;
    height: 600px;
    border: solid;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px antiquewhite;
    font-size: 35px;
}
.projet4>p{
    padding-right: 2rem;
    padding-left: 2rem;
}

.projet5 {
    width: 450px;
    height: 550px;
    border: solid;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px antiquewhite;
    font-size: 35px;
}
.projet5>p{
    padding-right: 2rem;
    padding-left: 2rem;
}
    a:hover{
        background-color: antiquewhite;
        color: black;
    }
.projet1 >p{
    font-size: 20px;
}
.projet1 >a{
    font-size: 20px;
   color: black;
}
.projet1 >a:hover {
    color: black;
}
.projet2 >p {
    font-size: 20px;
}
.projet2 >a {
    font-size: 20px;
    color: black;
}
.projet2 >a:hover {
    color: black;
}
.projet3 >p {
    font-size: 20px;
}
.projet3 >a {
    font-size: 20px;
    color: black;
}
.projet3 >a:hover {
    color: black;
}
.projet4 >p {
    font-size: 20px;
}
.projet4 >a {
    font-size: 20px;
    color: black;
}
.projet4 >a:hover {
    color: black;
}
@media (max-width: 1200px){
.projet{
   flex-wrap: wrap;
}
}