.body {
    display: none;
}

.competences {
    border-bottom: 2px solid black;
    font-size: 30px;
    padding-bottom: 1rem;
    padding-top: 8rem;
}
.pro {
    width: 350px;
    height: 500px;
    border: solid;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px white;
    align-items: center;
    font-size: 30px;
}
.skills {
    width: 350px;
    height: 500px;
    border: solid;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px white;
    align-items: center;
    font-size: 30px;
}
.competences1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;
    height: 550px;
    flex-wrap: nowrap;
}
.un{
    font-size: 20px;
    margin-top: 5px;
}
@media (max-width: 478px){
    .competences{
        margin-top: 50px;
    }
}
@media (max-width: 417px){
    .competences{
        margin-top: 100px;
    }
}
@media (max-width: 391px){
    .competences{
        margin-top: 180px;
    }
}
@media (max-width: 758px){
    .competences1{
        flex-wrap: wrap;
        height: 1250px;
        justify-content: center;
    }
}