.footer {
    bottom: 0;
    left: 0;
    right: 0
}

.contact {
    font-size: 30px;
}

.footer {
    margin-top: 100px;
}

.mentions {
    display: flex;
    justify-content: center;
}

.mentions, ul, li, a {
    font-weight: normal;
    gap: 10px;
}

.mail {
    margin-top: 50px;
    margin-right: 10px;
}

.media {
    margin-top: 50px;
}