:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    /*color: rgba(255, 255, 255, 0.87);*/
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: black;
    text-decoration: inherit;
}

body {
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: navajowhite;
    cursor: pointer;
    transition: border-color 0.25s;
   margin-top: 150px;
}

button:hover {
    border-color: black;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        /*color: #213547;*/
        background-color: #ffffff;
    }

    button {
        background-color: navajowhite;
    }
}
