.moi {
    border-bottom: 2px solid black;
    font-size: 30px;
    padding-bottom: 1rem;
    margin-top: 200px;
}

.photo {
    width: 305px;
    height: 400px;
    border: solid 8px;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px antiquewhite;
    align-items: center;
    margin-left: 40px;
    background-color: black;
    filter: grayscale(20%);
}

.fonction {
    font-size: 40px;
    margin-top: 50px;
}
.photo .img{
   justify-content: center;
    width:50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.cv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.describe{
    height: 400px;
    margin-top: 20px;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}
.button{
    border-radius: 20px;
    border:solid;
    width: 60px;
    margin-top: 100px;
    background-color: brown;
}
.button>a{
    color: black;
}
@media (max-width: 936px){
    .container{
        flex-wrap: wrap;
    }
}
@media (max-width: 1200px){
    .describe>text{
      height: 500px  ;
    }
}
@media (max-width: 342px){
    .button{
       justify-content: center;
    }
}